{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{{ form_start(formUpdate) }}
    <div class="container">
        <div class="mb-3">
            {{ form_row(formUpdate.title) }}
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
{{ form_end(formUpdate) }}
{% endblock %}
